@import "/src/styles/variables";
@import "/src/styles/utils";

.ScrollAnimate {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 0.75s;

  &-show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
  }
}
