@import "/src/styles/variables";
@import "/src/styles/utils";

.sobreMi {
  margin: 0;
  font-family: "Inter";
  margin: 0;
  padding: 0;
  color: #fff;
  margin-bottom: 50px;
}

.imagen img {
  width: 92%;
  height: auto;
  margin: auto;
  display: block;
  max-width: 400px;
}

.texto {
  //
  // // desk mob xs sm md lg xl xxl
  @include onlyIn(mob) {
    margin-top: 50px;
  }
  max-width: 600px;
  text-align: left;
}

.texto h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.texto p {
  margin-bottom: 15px;
  font-size: 20px;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.boton,
.portafolio {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.boton {
  background-color: #007bff;
}

.portafolio {
  background-color: #333;
}
