@import "/src/styles/variables";
@import "/src/styles/utils";

.LogoLink {
  font-family: "Inter";
  padding: 10px 0px;
  text-align: center;
  img {
    width: 160px;
    height: auto;
  }
}
// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
