//----------------------Main Colors------------------
//----------------------Green
// $colorGreen: #0a9989;
// $colorGreen1: mix($colorGreen, white, 10%);
// $colorGreen2: mix($colorGreen, white, 20%);
// $colorGreen3: mix($colorGreen, white, 30%);
// $colorGreen4: mix($colorGreen, white, 40%);
// $colorGreen5: mix($colorGreen, white, 50%);
// $colorGreen6: mix($colorGreen, white, 60%);
// $colorGreen7: mix($colorGreen, white, 70%);
// $colorGreen8: mix($colorGreen, white, 80%);
// $colorGreen9: mix($colorGreen, white, 90%);
// $colorGreen10: mix($colorGreen, white, 100%); // color base
// $colorGreen11: mix($colorGreen, black, 90%);
// $colorGreen12: mix($colorGreen, black, 80%);
// $colorGreen13: mix($colorGreen, black, 70%);
// $colorGreen14: mix($colorGreen, black, 60%);
// $colorGreen15: mix($colorGreen, black, 50%);
// $colorGreen16: mix($colorGreen, black, 40%);
// $colorGreen17: mix($colorGreen, black, 30%);
// $colorGreen18: mix($colorGreen, black, 20%);
// $colorGreen19: mix($colorGreen, black, 10%);
// $colorGreen20: mix($colorGreen, black, 0%);
// $colorSecondary1: #7dfff0;
// $colorSecondary2: #00ffe0;
// $colorSecondary3: #06c3ad;
// $colorSecondary4: #0a9989;
// $colorSecondary5: #077c6e;
// $colorSecondary6: #045f53;
// $colorSecondary7: #013d33;




//----------------------Specials------------------
$colorSuccess: #3ab415;
$colorWarning: #f1df17;
$colorError: #ff4d4f;


//----------------------Sizes------------------
$headerHeight: 64px;
$headerHeightMobile: 90px;
$footerHeight: 80px;
$footerHeightMobile: 200px;
