

interface Props {}

/**
 * {{pascalCase name}} Component:  Descripción del comportamiento...
 * @param {Props} props - Parámetros del componente como: ...
 */
export const {{pascalCase name}} = ({  }: Props) =>  {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return (
    <div className="{{pascalCase name}}">
      {{pascalCase name}}
    </div>
  );
}