@import "/src/styles/variables";
@import "/src/styles/utils";

.LocationAndSocial {
  font-family: "Inter";

  a {
    text-decoration: none;
    color: inherit;
  }

  svg {
    color: #757575;
    &:hover {
      color: #0383ce;
    }
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    img{
      width: 40px;
      height: auto;
    }
    &:hover {
      color: #0383ce;
    }
    span {
      margin-left: 8px;
    }
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
