@import "/src/styles/variables";
@import "/src/styles/utils";

.HomeContent {
  font-family: "Inter";
  margin: 0;
  padding: 0;

  padding-bottom: 30px; //Espacio arriba del footer

  background-image: url(src/assets/images/Fondo/fondodelhome/Fondo.jpg);

  padding-top: 100px;
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
