---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icono.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Template de Astro + React</title>
    <meta property="og:title" content="Template de Astro + React" />
    <meta
      name="description"
      content="Describe tu web page"
    />
    <meta
      property="og:description"
      content="Describe tu web page"
    />
    <meta property="og:image" content="/MetaPortada1.png" />
    <meta name="twitter:image" content="/MetaPortada1.png" />
    <meta
      name="keywords"
      content="Agrega tus, key words"
    />
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
    <meta property="og:type" content="website" />
  </head>
  <body lang="es">
    <slot />
  </body>


</html>
