@import "/src/styles/variables";
@import "/src/styles/utils";

.HomeContent {
  font-family: "Inter";
  margin: 0;
  padding: 0;

  padding-bottom: 30px; //Espacio arriba del footer

  background: rgb(29,29,29);
  background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(30,30,30,1) 100%); 

}


// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
