---
import AstroComp from './AstroComp/AstroComp.astro';
import style from './HomeContent.module.scss';
import { PowerCards } from './PowerCards/PowerCards';
import {Bannerprincipal}   from './BannerPrincipal/BannerPrincipal';
import {SobreMi} from './SobreMi/SobreMi';
import {Skills} from './Skills/Skills';
---

<div class={style['HomeContent']}>
  <Bannerprincipal />
  <SobreMi />
  <Skills />
  <PowerCards client:only="react" />
  <PowerCards client:only="react" />
  <AstroComp />
</div>
