@import "/src/styles/variables";
@import "/src/styles/utils";

.Navbar {
  .forge-row-element {
    @include onlyIn(desk) {
      height: $headerHeight;
    }
  }
  // Necesarias para barrita animada
  // .flotingNav {
  //width: 80%;
  //}
  position: fixed;
  background-color: #4444443b;
  width: 70%;
  left: 15%;
  z-index: 8;
  border-radius: 20px;
  backdrop-filter: blur(10px); /* Aplicar blur */
  -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
  border: 2px solid #00f0ff;
  box-sizing: border-box;

  .hamburger {
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    box-shadow: 1px 2px 1px 2px #757575;
    border-radius: 4px;
    padding-inline: 10px;
    margin-bottom: 15px;
    &:hover {
      color: #00f0ff;
      box-shadow: none;
    }
  }
}

@keyframes bottomAnimation {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
