@import "/src/styles/variables";
@import "/src/styles/utils";


.Navbar {
  background: #eaeaea;

  // Necesarias para barrita animada
  position: relative;

  // Maqueta y posicionamiento barrita gradiente
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
  }

  // 2 barritas gradientes superpuestas intercambiando opacidad
  &::before {
    background-image: linear-gradient(90deg, #0383ce -0.69%, #a9fd55 34.44%, #ffe769 70.11%, #ffa944 99.48%);
    z-index: 1;
  }
  &::after {
    background-image: linear-gradient(90deg, #ffa944 -0.69%, #ffe769 34.44%, #0383ce 70.11%, #a9fd55 99.48%);
    z-index: 2;
    animation: bottomAnimation 3s linear infinite;
    opacity: 0;
  }

  .hamburger {
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    box-shadow: 1px 2px 1px 2px #757575;
    border-radius: 4px;
    padding-inline: 10px;
    margin-bottom: 15px;
    &:hover {
      color: #0383ce;
      box-shadow: none;
    }
  }
}

@keyframes bottomAnimation {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}


// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
