---
import style from './HomeContent.module.scss';

---

<div class={style['HomeContent']}>
  <h1>HomeContent Component</h1>
  <br />
  <pre id="storeOutput"></pre>
</div>
<script>
  import { FStore } from '../../../store/config/rootAtom';

  const preTag = document.getElementById('storeOutput');
  if (preTag)
    FStore.subscribe((state) => {
      preTag.textContent = JSON.stringify(state, null, 2);
    });

</script>
