@import "/src/styles/variables";
@import "/src/styles/utils";

.Footer {
  background-color: #02080f;
  background-size: 100%;
  background-repeat: no-repeat;

  h3 {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-size: 26px;
    font-weight: 600;
    color: #1bc8ff;
    text-align: center;
  }

  .card {
    padding: 30px 0 15px 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    a {
      color: $primaryColor;
    }
    svg {
      color: #1bc8ff;
      font-size: 60px;
    }
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
