@import "/src/styles/variables";
@import "/src/styles/utils";

.PowerCards {
  font-family: "Inter";
  background-image: url(src/assets/images/Home/PowerCards/FondoCards.png);
  background-size: 100%;
  padding-inline: 20px;
  padding-bottom: 60px;
  @include onlyIn(desk) {
    max-width: 990px;
    margin: auto;
  }
  h2 {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }
  .background {
    display: block;
    justify-content: center;
  }

  img {
    width: 20%;
    min-width: 270px;
    max-width: 380px;
    height: auto;
    display: block;
    margin: auto;

    @include onlyIn(mob) {
      margin-top: 30px;
    }
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
