@import "/src/styles/variables";
@import "/src/styles/utils";

.NavLink {
  font-family: "Inter";

  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;

  color: #1d1d1d;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #0383ce;
  }

  &.active {
    color: #0383ce;
    font-weight: 700;
    &::after {
      display: block;
      content: "";
      width: 80%;
      margin: auto;
      position: relative;
      bottom: -5px;
      height: 5px;
      background-image: linear-gradient(90deg, #0383ce -0.69%, #a9fd55 34.44%, #a9fd55 70.11%, #ffe769 99.48%);
    }
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
