@import '/src/styles/variables';
@import '/src/styles/utils';

.NavLink {
  font-family: 'Inter';

  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $primaryColor4;
  }

  &.active {
    color: $primaryColor9;
    font-weight: 700;
    &::after {
      display: block;
      content: '';
      width: 80%;
      margin: auto;
      position: relative;
      bottom: -5px;
      height: 5px;
      background-image: linear-gradient(
        90deg,
        #f23219 -0.69%,
        #d12613 34.44%,
        #b0190d 70.11%,
        99.48%
      );
    }
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
