---
import 'src/styles/_index.scss';
import Footer from './Footer/Footer.astro';
import AppGlobalScript from './AppGlobalScript.astro';
import Navbar from "./Navbar/Navbar.astro";
---

<>
  <AppGlobalScript />
  <Navbar  />
  <main>
    <slot />
  </main>
  <Footer />
</>
