---
import 'src/styles/_index.scss';
import { Footer } from './Footer/Footer';
import AppGlobalScript from './AppGlobalScript.astro';
import InitialLoading from './InitialLoading/InitialLoading.astro';
import { Navbar } from './Navbar/Navbar';
import { WhatsButtonFloat } from './WhatsButtonFloat/WhatsButtonFloat';
---

<>
  <AppGlobalScript />

  <InitialLoading />

  <Navbar client:only="react" />
  <main>
    <slot />
  </main>
  <WhatsButtonFloat client:only="react" />
  <Footer client:only="react" />
</>
