---
import 'src/styles/_index.scss';
import Footer from './Footer/Footer.astro';
import AppGlobalScript from './AppGlobalScript.astro';
import { Navbar } from "./Navbar/Navbar";
---

<>
  <AppGlobalScript />
  <Navbar client:visible />
  <main>
    <slot />
  </main>
  <Footer />
</>
