---
import 'src/styles/_index.scss';
import Navbar from './Navbar/Navbar.astro';
import Footer from './Footer/Footer.astro';
import AppGlobalScript from './AppGlobalScript.astro';
---

<>
  <AppGlobalScript />
  <Navbar />
  <main>
    <slot />
  </main>
  <Footer />
</>
